:root {
    /* colors */

    --color-primary: #002D69;
    --color-secondary: #928490;
    --color-white: #FFFFFF;
    --color-dark: #343434;
    --color-logo: #0D5EBA;
    --color-menu-background:  #F3E8EB;

    /* fonts */
    --font-lato: "Lato";
}